

.teste{

    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.form{
    background-color: white;
}

.section{
    background: white;
    border-radius: 1rem;
    margin-top: -10rem;
    padding: 70px 60px;
    max-width: 700px;
    align-items: center;
    display: flex;
    justify-content: center;

    border:solid 3px black
 


}
.inst{
      background-color: white;
      font-size: 30px;
      padding-bottom: 15px;
    padding-left: 50px;
}
.title{
 background-color: white;
 border-radius: 1rem;
 display: inline;

 margin-bottom: 10px;
 border-color: rgb(255, 215, 0);
 color: black;
 margin-left: 230px;
}
.description{
    background-color: white;
    border-radius: 1rem;
    min-width: 326px;
    min-height: 212px;
    max-width: 326px;
    max-height: 212px;
    border-color: rgb(255, 215, 0);
    color: black;
    margin-left: 150px;
    display:flex;
}
.btn{
    background-color: rgb(255, 215, 0);
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 280px;
    margin-top: 10px;

}
.btn:hover{
    transition: 0.5s;
    background-color: black;
    color: rgb(255, 215, 0);
}