.teste{
  display: flex;
  justify-content: center;
   align-items: center;
   background-color: black;
   
}

.container {
   border: solid 3px rgb(255, 215, 0);
   background-color: white;
   border-radius: 10px;
   margin-top: 10px;
   margin-bottom: 10px;
   padding: 40px 60px;
   display: block;
   word-break: break-all;
   max-width: 500px;
   
  

}

.titu{
   text-decoration: underline;
   background-color: white;
   display: flex;

}
.buttonn{
   cursor: pointer;
   border: none;
   

}
.image{
   transition: 2s;
}
.desc{
   text-decoration: none;
   border: none;
}


  /* max-width: 820px;
   border-radius: 1rem;
   border-color: rgb(255, 215, 0);
   border: solid;
   color: white;
   margin-left: 537px;
   background-color:white; 
   display: flex;
   justify-content: center;*/